.contacts_page {
  width: 95%;
}

.contacts-upload{

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;

}

.contacts-select{
    display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contacts_page_button1,
.contacts_page_button2 {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
}
.contacts_page_button1 > span,
.contacts_page_button2 > span {
  font-size: 17.5px;
}

.contacts_page_table2{
    width:100%;
    margin-bottom: 1rem;
    /* border: 1px solid black; */
}

@media screen and (max-width: 480px) {
  .contacts_page {
    margin-left: 3%;
    padding: 2%;
  }

  .contacts_page_button1,
  .contacts_page_button2 {
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
  }

  .contacts_page_button1 > span,
.contacts_page_button2 > span {
  margin-left: 290%;
  width: 6rem;
}
}
