.role_page {
  display: flex;
  /* border:3px solid black; */
  width:90%;
  justify-content: space-between;
  /* margin-left: 20%; */
}

.role_page_add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  /* border:3px solid black; */

}

.role_page_add>form{
  margin-bottom: 20px;
}

.role_button {
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%; 
  margin-left: 5%;

}

/* @media screen and (max-width: 480px) {
  .role_page {
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .role_page_add {
    margin-top: 2rem;
  }
} */
